name: Test
on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, edited, synchronize]
  push:
    branches:
      - main
permissions: {}
jobs:
  pre-commit:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository.
        uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: yarn

      - name: clean install
        run: yarn install --immutable

      - name: build
        run: |
          yarn run build:main
          yarn run build:post

      - name: test
        run: yarn test
